.footer-container {
    background-color: #000;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: start;
    padding: 2rem;
}

.logo-footer {
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
}
.logo-footer img{
    background-color: #252525;
    border-radius: 20px;
    width: 110px;
}

.footer-icons {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;

}

.footer-icons ul {
    display: flex;
    gap: 1rem;
    list-style-type: none;
    padding: 0;
}

.footer-icons a {
    color: #fff;
    font-size: 1.3rem;
    text-decoration: none;
    transition: ease-in-out 0.5s, border ease-in-out 0.6s;
}
.footer-icons a:hover{
    color: rgb(73, 73, 243);
    border: 1px solid rgb(3, 43, 90);
    font-size: larger;
}
.logo-heading{
    font-size: large;
    font-weight: 400;
    color: #8b8b8b;
    margin-top: 5%;
    font-family: "Afacad Flux", sans-serif;
    text-decoration: underline;
}
.social-links h2{
    color: #8b8b8b;
    text-decoration: underline;
}
.social-links ul {
    display: flex;
    gap: 2.5rem;
    list-style-type: none;
    padding: 0;
    margin-top: 10%;
}
.social-links a{
    color: #fff;
    font-size: 1.3rem;
    font-weight: 350;
    text-decoration: none;
    transition: ease-in-out 0.5s, border ease-in-out 0.6s;
}
.social-links a:hover{
    color: rgb(73, 73, 243);
    border: 1px solid rgb(3, 43, 90);
    font-size: larger
}
.social-links p {
    color: #8b8b8b;
    font-size: 1.3rem;
    max-width: 400px;
    margin-top: 5%;
    text-align: start;
    font-family: "Afacad Flux", sans-serif;
}

/* mobile phone smaller */
@media screen and (max-width:480px) {
    .footer-container {
        display: flex;
        align-items: start;
        padding: 1rem;
        flex-direction: column;
    }
    .logo-footer img{
        border-radius: 40px;
        width: 50px;
    }
    .footer-icons {
        gap: 2rem;
        margin-top: 1.4rem;
    }
.footer-icons a {
    color: #fff;
    font-size: 0.8rem;
}
.logo-heading{
    font-size: small;
    font-weight: 300;
}
.social-links h2{
    margin-top: 5%;
    font-size: 1rem;
    

}
.social-links a{
    color: #fff;
    font-size: 1rem;
    font-weight: 300;
}
.social-links p {
    color: #8b8b8b;
    font-size: 1rem;
    max-width: 400px;
    margin-top: 5%;
    text-align: center;
    padding: 5%;
}
    
    
}

/* mobile phone smaller */
@media screen and (min-width:481px) and (max-width:768px){
    .footer-container {
        display: flex;
        align-items: start;
        padding: 1rem;
        flex-direction: column;
    }
    .logo-footer img{
        border-radius: 40px;
        width: 50px;
    }
    .footer-icons {
        gap: 2rem;
        margin-top: 1.4rem;
    }
.footer-icons a {
    color: #fff;
    font-size: 1rem;
}
.logo-heading{
    font-size: 1.2rem;
    font-weight: 300;
}
.social-links h2{
    margin-top: 5%;
    font-size: 1.2rem;
    

}
.social-links a{
    color: #fff;
    font-size: 1rem;
    font-weight: 300;
}
.social-links p {
    color: #8b8b8b;
    font-size: 1.2rem;
    max-width: 400px;
    margin-top: 5%;
    text-align: center;
    padding: 5%;
}
}

/* mobile phone smaller */
@media screen and (min-width:769px) and (max-width:1025px){

    .logo-footer img{
        border-radius: 60px;
        width: 50px;
    }
    .footer-icons {
        gap: 1rem;
        margin-top: 1.4rem;
    }
.footer-icons a {
    color: #fff;
    font-size: 1.3rem;
}
.logo-heading{
    font-size: 1rem;
    font-weight: 300;
}
.social-links h2{
    margin-top: 5%;
    font-size: 1.3rem;
}
.social-links a{
    color: #fff;
    font-size: 1rem;
    font-weight: 300;
}
.social-links p {
    color: #8b8b8b;
    font-size: 1rem;
    max-width: 200px;
    margin-top: 5%;
    text-align: start;
    padding: 5%;
}  
}