html, body {
    height: 100%; 
    margin: 0; 
}
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

.slider-item {
    position: relative;
    width: 100vw; 
    height: 150vh; 
    margin-top: -10rem;
}

.slider-item img {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;
    object-fit: cover; 
}

.caption {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -30%);
    color: white; /* Text color */
    padding: 10px;
    text-align: center;
    border: 50%;
}
.caption p{
    font-size: 2.1rem;
    line-height: 1.2;
    width: 100%;
    max-width: 900px;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;

        font-family: "Nunito Sans", sans-serif;
        font-style: normal;
        font-variation-settings:
          "wdth" 100,
          "YTLC" 500;
}

.slider-button {
    margin-top: 2rem;
    padding: 10px;
    background-color: #007bff; 
    color: white; 
    border: none;
    border-radius: 5px; 
    cursor: pointer;
}

.slider-button:hover {
    background-color: #0056b3; 
}
@media (min-width: 768px) {
    .caption-text {
      font-size: 1.25rem;
    }
  
    .slider-button {
      font-size: 1rem;
    }
  }
  
  @media (min-width: 1024px) {
    .caption-text {
      font-size: 1.5rem;
    }
  
    .slider-button {
      font-size: 1.125rem;
    }
  }