.message-container{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    margin-top: 3rem;
}
.message-item{
    width: 100%;
    max-width: 100px;
    max-width: 700px;
    flex-direction: column;
    padding-right: 2rem
}
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

.message-item h2 {
    text-align: center;
    text-decoration: overline;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: #000;

        font-family: "Nunito Sans", sans-serif;
        font-style: normal;
        font-variation-settings:
          "wdth" 100,
          "YTLC" 500;
}
.message-item p {
    text-align: center;
    font-size: 1.1rem;
    line-height: 2.0;
    width: 100%;
    max-width: 700px;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    padding:  10px;
    color: #000;

        font-family: "Nunito Sans", sans-serif;
        font-style: normal;
        font-variation-settings:
          "wdth" 100,
          "YTLC" 500;
}
.message-inputs{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    padding: 20px;
    border-radius: 10px;
    /* background-color: rgb(63, 58, 58); */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}
input, textarea {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    font-size: 1rem;
    border: 2px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s, box-shadow 0.3s;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: #000;

        font-family: "Nunito Sans", sans-serif;
        font-style: normal;
        font-variation-settings:
          "wdth" 100,
          "YTLC" 500;
}

input:focus, textarea:focus {
    border-color: #3498db; 
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.4);
    outline: none;
}

textarea {
    resize: vertical; 
    min-height: 100px; 
}
.btn-message{
    width: 100%;
    max-width: 150px;
    transition: ease-in-out 0.6s;
}
.btn-message:hover{
    background-color: rgb(34, 18, 204);
    color: #fff;
    border-radius: 20px;
}