@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main_container {
    background-color: rgb(212, 205, 205);
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    padding: 4px 40px; 
}

.Logo {
    max-width: 60px; 
}

.Logo img {
    width: 100%;
}

nav {
    flex-grow: 1; 
    display: flex; 
    justify-content: center; 
}

nav ul {
    display: flex; 
    justify-content: center; 
    align-items: center;
    list-style: none;
    padding: 0; 
}

nav ul li {
    margin: 0 15px;
}

.nav_link {
    text-decoration: none;
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
    font-family: "Afacad Flux", sans-serif;
    font-weight: 400;
}
.nav_link:hover{
    background-color: #451db3;
    border-radius: 10%;
    color: white;
}

.contact_button {
    margin-left: auto; 
}

.btn_link {
    text-decoration: none; 
    color: white; 
    font-family: "Afacad Flux", sans-serif;
}

button {
    background-color: #007BFF; 
    border: none; 
    border-radius: 5px;
    padding: 10px 15px; 
    cursor: pointer; 
}
.toggle_menu {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
  }
  @media (max-width: 768px) {
    .Logo{
      max-width: 5rem;
      padding: 1em;
    }
    .main_container {
      flex-direction: row;
      padding: 0.3rem 0;
    }
  
    .nav_menu, .contact_button {
      flex-direction: column;
      align-items: end;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      background-color: #160f0f;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      transition: max-height 0.3s ease-in-out;
      max-height: 0;
      overflow: hidden;
    }
  
    .nav_menu.active {
      max-height: 500px;
    }
  
    .nav_menu li {
      margin: 1rem;
    }
    .nav_link {
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
  
    .contact_button {
      display: block;
      margin-top: 1rem;
    }
  
    .toggle_menu {
      display: block;
      padding: 0px 1rem;
      font-size: 1.3rem;
    }
    .toggle_menu:hover{
      color: #451db3;
      border: none;
    }
  }
