@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main_container {
    background-color: rgb(136, 136, 136);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 40px;
}

.Logo {
    max-width: 60px;
}

.Logo img {
    width: 100%;
}

nav {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
}

nav ul li {
    margin: 0 50px;
}

.nav_link {
    text-decoration: none;
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
    font-family: "Afacad Flux", sans-serif;
    font-weight: 400;
}
.nav_link:hover {
    background-color: #451db3;
    border-radius: 10%;
    color: white;
}

.contact_button {
    margin-left: auto;
}

.btn_link {
    text-decoration: none;
    color: white;
    font-family: "Afacad Flux", sans-serif;
}

button {
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
}

.toggle_menu {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
}

/* Small screen styles */
@media (max-width: 768px) {
    .Logo {
        max-width: 5rem;
        padding: 0.8em;
    }
    .main_container {
        flex-direction: row;
        padding: 1px 10px;
    }
    .nav_menu {
        height: 50%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 10%;
        right: 0;
        background-color: rgb(29, 28, 28);
        overflow-x: hidden;
        transition: width 0.9s;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 20px 0px 0px 20px;
    }
    .nav_menu.active {
        width: 99%;
    }
    .toggle_menu {
        display: block;
        padding: 1px 15px;
        font-size: 1.9rem;
        transition: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    }
    nav ul {
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
    }
    nav ul li {
        margin: 25px 0;text-decoration: overline ;
    }
    .nav_link {
      text-decoration: none;
      font-size: 1.5rem;
      color: rgb(255, 247, 247);
      font-family: "Afacad Flux", sans-serif;
      font-weight: 300;
  }
  .contact_button{
    display: none;
  }
  
}
