.services_container {
    margin: 5% auto;
    padding: 10px;
    width: 100%;
    height: 100%;
  }
  
  .services_heading h2 {
    color: #fff;
    text-align: center;
    font-size: 2rem;
    padding: 20px;
    line-height: 1.5;
    font-family: "Afacad Flux", sans-serif;
    font-weight: 400;
  }
  
  .services_slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image_container {
    position: relative; /* Position the container relative */
    width: 100%;
    max-height: 800px;
  }
  
  .image_slider {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .caption_description {
    position: absolute; /* Position the overlay text */
    bottom: 20px; /* Position the text 20px from the bottom */
    left: 20px; /* Position the text 20px from the left */
    background-color: rgba(0, 0, 0, 0.5); /* Add a semi-transparent background */
    color: #fff; /* Text color */
    padding: 10px 20px; /* Add some padding */
    border-radius: 8px; /* Optional: Add rounded corners */
    font-size: 1rem; /* Font size */
    width: auto; /* Adjust width */
  }
  
  @media screen and (max-width: 768px) {
    .caption_description {
      font-size: 0.9rem; /* Smaller text for mobile screens */
      bottom: 10px;
      left: 10px;
    }
  }
  