.testimonies_slides {
    margin: 5% auto;
    padding: 5px;
    max-width: 900px;
    max-height: 340px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.testmony_sliders {
    width: 100%;
    max-width: 100px;
    margin: 0 auto;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.testmony_sliders img {
    width: 100%;
    /* max-height: 10rem; */
    object-fit: cover;
    transition: transform 0.3s ease;
    border-radius: 50%;
}

.testmony_sliders img:hover {
    transform: scale(1.1);
}

/* Captions styling */
.testmony_sliders p {
    margin-top: 15px;
    color: white;
    font-size: 1.1rem;
    font-family: 'Arial', sans-serif;
    line-height: 1.5;
    text-align: center;
    width: 100%;
    max-width: 200px;
}
/* Override background of the slider */
.awssld {
    background: transparent !important;
}

/* Remove the background color from individual slides */
.awssld__content {
    background: transparent !important;
}

/* Ensure there’s no background color on other elements */
.awssld__wrapper {
    background: transparent !important;
}
/* Reduce the size of pagination dots */
.awssld__bullets button {
    width: 5px; 
    height: 5px; 
    background-color: #080441; 
    border-radius: 50%; 
}
.awssld__next::before, .awssld__prev::before {
    background-color:  #080441;
    border-radius: 50%; 
}

/* Media queries to make sure it’s responsive */
@media (max-width: 768px) {
    .testmony_sliders {
        max-width: 150px;
    }
    
    .testmony_sliders p {
        font-size: 0.9rem;
    }
}

@media (min-width: 1024px) {
    .testmony_sliders {
        max-width: 300px;
    }
    
    .testmony_sliders p {
        font-size: 1.2rem;
    }
}
